{% extends "layouts/auth.html" %}
{% from "components/forms.html" import field, error_summary, submit %}
{% block title %}{{ _('Choose a new password') }} · {{ site_name }}{% endblock %}
{% block auth_title %}{{ _('Choose a new password') }}{% endblock %}
{% block auth_form %}
<form method="post" action="{{ url_for('auth.reset_password', token=token) }}" novalidate>
  {{ form.hidden_tag() }}
  {{ error_summary(form) }}
  {{ field(form.password, autocomplete="new-password", autofocus=True, help=_('At least %(n)d characters.', n=config.PASSWORD_MIN_LENGTH)) }}
  {{ field(form.confirm, autocomplete="new-password") }}
  {{ submit(_('Set new password'), class_="btn btn-primary btn-block") }}
</form>
{% endblock %}
